:root {
  --color-primary: rgb(4, 119, 233);
}

/*general CSS*/
body {
  height: 2000px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 00;
}
/* Css error email*/
#error-email {
  color: red;
  font-weight: 700;
}
/*none view more*/
.view-more,
.less-more {
  display: none;
}
img {
  width: 100%;
}
/*section css*/
#goal {
  display: flex;
  margin-bottom: 20px;
}
#goal > * {
  flex: 1;
}
#gap {
  gap: 20px;
}
.section-title {
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.section-conetent .title {
  font-weight: bold;
}
/*exp-bar*/
.exp-bar {
  width: 50px;
  height: 3px;
  background-color: gray;
  display: inline-block;
}
/* css timeline*/
.timeline .section-content {
  position: relative;
  padding-left: 15px;
}
.timeline .title::before {
  position: absolute;
  content: "\2022";
  font-size: 1.5em;
  color: var(--color-primary);
  top: -7px;
  left: -5px;
}
.fill {
  background-color: var(--color-primary);
}
/*header*/
/*Banner*/
.banner {
  height: 360px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(55%);
}
.banner_title {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 0 2px 2px blue;
}
/* navigation */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
nav > * {
  flex: 1;
  text-align: center;
  height: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > *:hover {
  background-color: rgb(0, 255, 136);
  color: rgba(0, 255, 255, 0.493);
}
/*end header*/
/*main*/
/*info*/
#info {
  background-color: pink;
  padding: 15px;
}
/* Ẩn thông tin user đến khi submit email*/
#info .section-content {
  display: none;
}
#target {
  background-color: rgb(187, 178, 178);
  padding: 15px;
}
/**/
link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
link > * {
  flex: 1;
  text-align: center;
  height: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info,
#target,
#experience,
#skill,
#language,
#education,
#activity,
#hobby {
  padding: 20px;
  border: 2px solid;
}
/* display none content*/
#experience .section-content,
#skill .section-content,
#language .section-content,
#education .section-content,
#activity .section-content,
#hobby .section-content {
  display: none;
}
#experience,
#skill,
#language,
#education,
#activity,
#hobby,
#certificate {
  margin: 20px;
}
#man {
  padding: 10px;
  text-align: center;
}
#certificate .section-title {
  margin-bottom: 20px;
}

#certificate .section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.card {
  gap: 20px;
  font-size: 14px;
}
.card-img {
  flex: 0.35;
  object-fit: contain;
}
.card-text {
  flex: 0.7;
}
.card h4 {
  font-weight: 500;
}
#project .section-title {
  margin-left: 20px;
}
#project .section-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pro {
  display: block;
  /* width: 300px; */
  border: 1px #cecece solid;
}

.pro1-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
  font-family: open_sansregular;
}

.item1 {
  display: flex;
  gap: 10px;
  border-bottom: 1px #cecece solid;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: open_sansregular;
}

.time {
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 5px;
  color: white;
  background-color: #3e8bff;
  border: 1px #3e8bff solid;
  border-radius: 41%;
  width: 47px;
  height: 30px;
}

.item2 {
  display: flex;
  column-gap: 20px;
  font-size: 15px;
  border-bottom: 1px #cecece solid;
  padding: 10px;
}

.item3 {
  display: flex;
  column-gap: 20px;
  font-size: 15px;
  border-bottom: 1px #cecece solid;
  padding: 10px;
}

.item4 {
  display: flex;
  column-gap: 20px;
  font-size: 15px;
  padding: 10px;
}

.pro2-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
}
.pro3-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
}
.lienhe {
  display: inline-block;
  margin: 20px;
  background-color: blanchedalmond;
}
/* */
#goal {
  display: flex;
  flex-wrap: wrap;
}
#target,
#info {
  flex: 1;
  min-width: 300px;
}
#certificate {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 1;
  min-width: 300px;
}
#project {
  display: flex;
  flex-wrap: wrap;
}
.pro {
  flex: 1;
  min-width: 300px;
}
/* Default visibility */
.nav-brand {
  display: block; /* Hiển thị bình thường trên laptop */
}
/* Đảm bảo phần tử toàn màn hình */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.section-title,
.section-content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.section-content {
  display: none; /* Ẩn nội dung khi bắt đầu */
}
/* view-more */
.view-more {
  cursor: pointer;
  background-color: #f0ad4e;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.less-more {
  cursor: pointer;
  background-color: #d9534f;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.tree {
  display: flex;
}
.tree2 {
  display: flex;
}
.poem {
  display: flex;
}
